body {
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/bf/fc/bb/bffcbb3c0a5f66158141ae3e6c89bf11.jpg");
}
@font-face {
    font-family:"Virus_01";
    src: url('/assets/fonts/Virus_01.ttf');
    font-style: normal;
}
#title{
    font-family: Arial;
    color: white;
}
#bubl{
  
    font-family: 'Creepster', cursive;

    color: darkred;
}
#golovko{
    font-family: SansSerif ;
    color: aqua;
}
#honorovich{
    font-family:'Courier New', Courier, monospace;
    color: blueviolet;
}
#datskov{
    font-family: Chiller;
    color: gold;
}

#yefremenko{
    font-family: "Arial Black";
    color: coral;
}
#zanin{
    font-family: Chiller;
    color: #ff00ff;
}
 #zborshchenko{
     font-family: "Agency FB";
     color: yellow;
 }
 #ivanina{
     font-family: Consolas, "Book Antiqua";
     color: indigo;
 }
#kasyan_demir{
    font-family: Virus_01;
}
#kliuchnyk_alex{
    font-family: "Britannic Bold";
    color: brown;
}
#kovalenko_vlad{
    font-family: "Berlin Sans FB";
    color: red;
}
#kovalchuk_dmytro{
    font-family: "Lucida Calligraphy";
    color: darkgoldenrod;
}
@font-face {
    font-family: "Aero Matics";
    src: url("/assets/fonts/Aero_Mastic_Stencil_Bold.ttf");
}
#Kovba{
    color: red;
    background-color: black;
    font-family: "Aero Matics";
    margin-left: 530px;
    margin-right: 530px;
}
#kzncvaa {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}
@-webkit-keyframes blink {
  20%, 24%,55% {
    color: #111;
    text-shadow: none;
  }
  0%,19%,21%,23%,25%,54%,56%,100% {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
@keyframes blink {
  20%, 24%, 55% {
    color: #111;
    text-shadow: none;
  }
  0%,19%,21%,23%,25%,54%,56%,100% {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}