/*MAIN STYLES <-*/
body {
    background: url("../images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    margin: 0;

    display: grid;
        grid-template-columns: auto auto auto;
}
main{
    background-color: rgba(20,20,20,0.6);

    text-align: center;

    box-shadow: 2px 0 1px black,
                -2px 0 1px black;

}
header{
    font-size: xxx-large;

    color: white;

    border-bottom: solid 2px black;
    box-shadow: 0 4px 4px black;

    text-shadow: 4px 4px 4px black;
}
header span{
    font-family: Consolas;
    font-weight: bolder;
}
/*MAIN STYLES <-*/

/*FONTS ->*/
@font-face {
    font-family:"virus";
    src: url('../fonts/Virus_01.ttf');
    font-style: normal;
}
@font-face {
    font-family:"aero";
    src: url('../fonts/Aero_Matics_Stencil_Bold.ttf');
    font-style: normal;
}
@font-face {
    font-family:"marsh";
    src: url('../fonts/Marsh Stencil Regular.otf');
    font-style: normal;
}
/*FONTS <-*/

/*H1 ->*/
#bubl{
  
    font-family: 'Creepster', cursive;

    color: darkred;
}
#golovko{
    font-family: SansSerif ;
    color: aqua;
}
#honorovich{
    font-family:'Courier New', Courier, monospace;
    color: blueviolet;
}
#datskov{
    font-family: Chiller;
    color: gold;
}
#yefremenko{
    font-family: "Arial Black";
    color: coral;
}
#zanin{
    font-family: Chiller;
    color: #ff00ff;
}
#zborshchenko{
     font-family: "Agency FB";
     color: yellow;
 }
#ivanina{
     font-family: Consolas, "Book Antiqua";
     color: indigo;
 }
#kasyan_demir{
    font-family: virus;
    transition: 10s;
    animation: glitch_1 1ms infinite;
}
#kasyan_demir:hover{
    animation: glitch_2 10ms infinite;
}
#kliuchnyk_alex{
    font-family: "Britannic Bold";
    color: brown;
}
#kovalenko_vlad{
    font-family: "Berlin Sans FB";
    color: red;
}
#kovalchuk_dmytro{
    font-family: "Lucida Calligraphy";
    color: darkgoldenrod;
}
#Kovba{
    color: red;
    background-color: black;
    font-family: aero;
    margin-left: 325px;
    margin-right: 325px;
}
#kzncvaa {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}
#myroslava {
    font-family: "Segoe Script";
    color: #00deff;
    text-shadow: 5px 5px 5px black;
    animation: anim 3s infinite alternate;
    background-color: cornflowerblue;
    margin-left: 450px;
    margin-right: 450px;
    border-radius: 20px;
}
#Lulu{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ff0000;
}
#oliferuk{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
}
#ostash{
    color: #000000;
}
/* #reshetnickov{
    font-family: 'Oxygen', sans-serif;
    color: #ffa500; 
} */
#reshetnickov {
    text-align: center;
    font-size: 40px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    animation: blur .75s ease-out infinite;
    text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}
  
@keyframes blur {
    from {
      text-shadow:0px 0px 10px #fff,
        0px 0px 10px #fff, 
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #7B96B8,
        0px 0px 150px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px -10px 100px #7B96B8,
        0px -10px 100px #7B96B8;
    }
}
  
/*H1 <-*/

/*ANIMATIONS ->*/
@keyframes glitch_1 {
    to {
        transform: translateX(10px);
    }
}
@keyframes glitch_2 {
     to {
         transform: translateX(5px);
     }
 }
@keyframes anim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes blink {
    20%, 24%,55% {
        color: #111;
        text-shadow: none;
    }
    0%,19%,21%,23%,25%,54%,56%,100% {
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }
}
@keyframes blink {
    20%, 24%, 55% {
        color: #111;
        text-shadow: none;
    }
    0%,19%,21%,23%,25%,54%,56%,100% {
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }
}
/*ANIMATIONS <-*/